*~
.apt_generated
.settings
.classpath
src/tv/ismar/daisy/VideoSurfaceDemo.java
bin
gen
.classpath
*.orig
*.directory
project.properties
proguard-android.txt
proguard-project.txt
.gitigonre
/proguard
.idea/
*.iml
out/
.DS_Store
*/build
.gradle/
build/

captures/
