<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.ismartv.tvplayer">

    <application
        android:theme="@style/Theme.AppCompat"
    >
        <activity android:name=".MainActivity"
                  android:screenOrientation="landscape"
        >
        </activity>

        <activity android:name=".mvvm.view.activity.PlayerActivity"
                  android:screenOrientation="landscape"
        >

        </activity>
    </application>

</manifest>